@model Facturosaurus.Application.Customers.Commands.ModifyCustomer.ModifyCustomerCommand

<!-- Modal -->
<div class="modal fade" id="ModifyCustomerModal" tabindex="-1" aria-labelledby="ModifyCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
        <div class="modal-content">
            <form asp-action="ModifyCustomer">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreateNewCustomer">Edycja kontrahenta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Podstawowe dane:
                        </div>
                        <div class="card-body">
                            <div class="input-group" style="display: flex; flex-wrap: nowrap;">
                                <div class="form-group" style="margin-right: 10px; width:100%">
                                    <label asp-for="NipNumber" class="control-label">NIP</label>
                                    <input asp-for="NipNumber" class="form-control form-control-sm" readonly/>
                                </div>
                                <div class="form-group" style="width:80px">
                                    <label asp-for="Active" class="control-label">Aktywny</label>
                                    <select asp-for="Active" class="form-select form-select-sm" id="customer-activity">
                                        <option value="true" selected>Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span asp-validation-for="NipNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group form-group-lg">
                                <label asp-for="CustomerName" class="control-label">Nazwa firmy</label>
                                <input asp-for="CustomerName" class="form-control form-control-sm" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-sm">
                                <label asp-for="ShortCustomerName" class="control-label">Skrócona nazwa firmy</label>
                                <input asp-for="ShortCustomerName" class="form-control form-control-sm" />
                                <span asp-validation-for="ShortCustomerName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Dane adresowe:
                        </div>
                        <div class="card-body">
                            <div class="form-group ">
                                <label asp-for="StreetName" class="control-label">Ulica</label>
                                <input asp-for="StreetName" class="form-control form-control-sm" />
                                <span asp-validation-for="StreetName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BildingNumber" class="control-label">Numer budynku</label>
                                <input asp-for="BildingNumber" class="form-control form-control-sm" />
                                <span asp-validation-for="BildingNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApartmentNumber" class="control-label">Numer lokalu</label>
                                <input asp-for="ApartmentNumber" class="form-control form-control-sm" />
                                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ZipCode" class="control-label">Kod pocztowy</label>
                                <input asp-for="ZipCode" class="form-control form-control-sm" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label">Miasto</label>
                                <input asp-for="City" class="form-control form-control-sm" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Konto bankowe firmy:
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="BankName" class="control-label">Nazwa banku</label>
                                <input asp-for="BankName" class="form-control form-control-sm" />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                          

                            <div class="input-group" style="display: flex; flex-wrap: nowrap;">
                                <div class="form-group" style="margin-right: 10px;">
                                    <label asp-for="AccountCurrency" class="control-label">Waluta</label>
                                    <select asp-for="AccountCurrency" class="form-select form-select-sm" id="inputGroupSelect04" aria-label="Example select with button addon">
                                        <option value="PLN">PLN</option>
                                        <option value="EUR">EUR</option>
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                                <div class="form-group" style="flex-grow: 1;" id="Test">
                                    <label asp-for="AccountNumber" class="control-label">Numer konta</label>
                                    <input asp-for="AccountNumber" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <div class="form-group">
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Dane kontaktowe:
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
                                <input asp-for="PhoneNumber" class="form-control form-control-sm" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AddressEmail" class="control-label">Ares e-mail</label>
                                <input asp-for="AddressEmail" class="form-control form-control-sm" />
                                <span asp-validation-for="AddressEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
